<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Forgot Password</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body class="auth-body">

<div class="auth-bg one"></div>
<div class="auth-bg two"></div>
<div class="auth-bg three"></div>

<div class="premium-auth-container">

    <div class="premium-auth-card">

        <div class="auth-header">

            <h2>

                Reset Password

            </h2>

            <p>

                Enter your email and new password.

            </p>

        </div>

        <form method="POST">

            <!-- EMAIL -->

            <div class="input-group">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter email"
                    required
                >

            </div>

            <!-- NEW PASSWORD -->

            <div class="input-group">

                <label>New Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter new password"
                    required
                >

            </div>

            <!-- BUTTON -->

            <button
                type="submit"
                class="premium-auth-btn"
            >

                Update Password

            </button>

        </form>

        <div class="bottom-auth-text">

            Back to

            <a href="/login">

                Login

            </a>

        </div>

    </div>

</div>

</body>

</html>